.lottery-login {
  display: flex;
  flex-direction: column;
  max-width: 512px;
    .buttons{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  
    .form{
      margin-top: 5px;
    }
    }
  
  