@import "../../../../styles/main";

.header-logo{
  margin-top: 25px;
  height: 100px;
  width: auto;
}

.logout-button{
  @include no-button-styling-deprecated();
  float: right;
  margin-top: 25px;
  height: 100px;
  @include standard-transition-deprecated();
  &:hover{
    @include standard-transition-deprecated();
    color: $main-pink-deprecated;
  }
}

.header-title{
  margin-top: 55px;
  height: 100px;
  float: right;
}
