@import 'main';

.visually-hidden {
  @include visually-hidden();
}

.input {
  border: 1px solid $primary-color;
  border-radius: 0;
  text-align: center;
  padding: 0.25em;
  color: $primary-color;
}
