@import "../../../../styles/main";

.button-container {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 2rem;
  button{
    margin-left: auto;
  }
  h2 {
    margin: 0;
  }
}
.my-lotteries {
  margin-bottom: 1rem;
.lotteries-table {
  min-height: 50vh;
  
  
  .row {
    display: flex;
    gap: 1rem;
    padding: .5rem;
    border-bottom: 1px solid var(--secondary-dark);
    transition: background-color 150ms ease;

    &:hover {
      cursor: pointer;
      background-color: var(--secondary-dark);
    }
    
    .row-item {
       flex: 1;
       min-width: 192px;
    }
    
  }
  .row-header {
    &:hover {
      cursor: default;
      background-color: var(--secondary);
    }
  }
}
}
