  <div class="my-lotteries wine-container">
    <div class="button-container">
      <h2>Mine lotterier</h2>
        <button (click)="newLottery()">
          Nytt lotteri
        </button>
      </div>
    <div class="lotteries-table">
      <div *ngIf="(lotteries$ | async)?.length > 0" class="row row-header">
        <div class="row-item">Navn</div>
        <div class="row-item">Trekningsdato</div>
        <div class="row-item">Opprettet</div>
      </div>
      <div

        (click)="selectLottery(lottery.id)"
        class="row"
        *ngFor="let lottery of lotteries$ | async"
      >
        <div class="row-item">{{ lottery.name }}</div>
        <div class="row-item">
          {{ lottery?.dateTime.toDate() | date : "dd-MM-yyyy HH:mm" }}
        </div>
        <div class="row-item">
          {{ lottery?.createdDate.toDate() | date : "dd-MM-yyyy HH:mm" }}
        </div>
      </div>
    </div>
  </div>