<main>
<app-header [showLogout]="true"></app-header>
  <div class="new-lottery wine-container">

    <h2 class="form-header">Nytt lotteri</h2>
      <form class="new-lottery-form" (ngSubmit)="createLottery(newLotteryForm.value, newLotteryForm.valid)" [formGroup]="newLotteryForm"
            novalidate>


          <div class="form-element">
            <label>Navn:</label>
            <input type="text" placeholder="Navn" formControlName="name">
            <div class="error"><span *ngIf="name.invalid && (name.dirty || name.touched)" translate>Navn påkrevd</span></div>
          </div>

          <div class="form-element">
            <label for="dateTime">Dag og tid for lotteri:</label>
            <input id="dateTime" [min]="minDate" [placeholder]="'Dato og tid'" [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
                   formControlName="dateTime">
            <owl-date-time #dt></owl-date-time>
            <div class="error"><span *ngIf="dateTime.invalid && (dateTime.dirty || dateTime.touched)" translate>Ugyldig tid</span></div>
          </div>

          <div class="form-element">
            <label>Beskrivelse av lotteri:</label>
            <input type="text" placeholder="Description" formControlName="description">
            <div class="error"><span *ngIf="description.invalid && (description.dirty || description.touched)" translate>Beskrivelse påkrevd</span></div>
        </div>

          <div class="form-element">
            <label>Antall trekninger:</label>
            <input type="number" placeholder="Antall" formControlName="numberOfDraws">
            <div class="error"><span *ngIf="numberOfDraws.invalid && (numberOfDraws.dirty || numberOfDraws.touched)" translate>Tallet må være mellom 0 og 100</span></div>
        </div>

        <div *ngIf="!isLoading" class="submit-section">
            <button type="submit">Lag lotteri</button>
            <button type="button" (click)="cancel()" class="secondary">Avbryt</button>
          <span class="error" *ngIf="errorMessage">{{errorMessage}}</span>
        </div>

        <div *ngIf="isLoading" class="loading">
          <i class="fa fa-2x fa-cog fa-spin"></i>
        </div>

      </form>


</div>
</main>