.new-lottery {
  width: 100%;
  .new-lottery-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;


    .form-element {
      display: flex;
      flex-direction: column;

      input {
        font-size: 18px;
      }
    }

    .submit-section {
      display: flex;
      flex-direction: column;
      max-width: 50vw;
      margin: 0 auto;

    }
  }
}
