@use "utilities/colors";

.register-template-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 20em;
}

.title,
.login-text,
.login-link {
  color: colors.$primary;
}

.email,
.password {
  width: 100%;
  margin: 0.5em 0;
}

.register-button {
  width: 100%;
  margin: 0.75em 0;
}

.login-info-container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-link {
  text-decoration: underline;
}

.errors {
  color: colors.$error;
  text-align: center;
}
