<form class="register-template-container" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <sk-card class="card">
    <h1 class="title">Registrer</h1>
    <sk-input-text class="email" [type]="'email'" [placeholder]="'E-post'" formControlName="email"></sk-input-text>
    <sk-input-text class="password" [type]="'password'" [placeholder]="'Passord'" formControlName="password"></sk-input-text>
    <div class="no-errors" *ngIf="!hasError && !(attemptedSubmit && registerForm.invalid && (registerForm.dirty || registerForm.touched))">
      <br />
      <br />
    </div>
    <div class="errors" *ngIf="hasError || (attemptedSubmit && registerForm.invalid && (registerForm.dirty || registerForm.touched))">
      <span class="error-message">Kunne ikke opprette bruker</span>
    </div>
    <sk-button class="register-button" [variant]="'primary'" [type]="'submit'">Opprett bruker</sk-button>
    <div class="login-info-container">
      <span class="login-text">Har du bruker?</span>
      <a class="login-link" [routerLink]="['/login']">Logg inn her</a>
    </div>
  </sk-card>
</form>
