//#region Color Variables
$primary-color: #412938;
$primary-color-light: none;
$secondary-color: #faeeee;
$secondary-color-light: none;
$tertiary-color: none;
$tertiary-color-light: none;


/* Greys */
$grey-50: #fcfcfc;
$grey-75: #f7f7f7;
$grey-100: #f4f4f4;
$grey-200: #ededed;
$grey-300: #cecece;
$grey-400: #a9abac;
$grey-500: #9e9e9e;
$grey-600: #707070;
$grey-650: #6a6a6c;
$grey-675: #666;
$grey-700: #4b4b4b;
$grey-750: #46474a;
$grey-850: #272727;
//#endregion

//#region Sizes
//#endregion

//#region Font Variables
//endregion

// Font sizes

// Common Variables
$radius-5: 5px;
$radius-10: 10px;

// Media Screen Variables
$mobile-screen: 767px;
$mobile-sm-screen: 820px;
$mobile-lg-screen: 980px;
$ipad-md-screen: 1024px;
$ipad-lg-screen: 1366px;

//#region Durations
$skeleton-animation-duration: 0.75s;
//#endregion

//#region Borders
//#endregion
