<div class="edit-lottery-container">
  <sk-card class="card">
    <div class="header-section">
      <h1>{{lottery?.title}}</h1>
      <div class="lottery-summary-section">
        <div class="number-of-tickets">
          <span class="number-of-tickets--counter">{{numberOfTickets}}</span>
          <span>Antall lodd</span>
        </div>
        <div class="start-lottery-section">
          <sk-button class="start-lottery-button">Start lotteriet!</sk-button>
        </div>
      </div>
    </div>
    <div class="participants-section">
      <sk-add-participant class="add-participant" (onAdd)="onAddParticipant($event)"></sk-add-participant>
      <sk-participant-list class="participant-list" [state]="state" [participants]="lottery?.participants"></sk-participant-list>
    </div>
  </sk-card>
</div>;
