/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "external/animate";

:root {
  --primary-light: #643f56;
  --primary: #412938;
  --primary-dark: #2b1b25;
  --secondary-light: #fef7f7;
  --secondary: #faeeee;
  --secondary-dark: #b4a8b1;
}

body {
  font-family: "DM Serif Display", serif;
  background-color: var(--primary);
  color: var(--primary);
}
h1,h2,h3,h4,h5,h6 {
  font-family: "DM Serif Display", serif;

}

main {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border: 2px solid var(--secondary);
  height: calc(100vh - 2rem);
  gap: 2rem;
}
.background{
  z-index: -1;
  position: fixed;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
}

.decorator-ball {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.10) 0%, rgba(196, 196, 196, 0.00) 100%);

  position: relative;
}

.wine-container {
  background-color: var(--secondary);
  padding: 2rem;
  position: relative;
  transition: all 200ms ease;
  max-width: 768px;
  margin: 0 auto;

  &:after {
    content: "";
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    border: 2px solid var(--primary);
    pointer-events: none;
  }
}

input {
  border: 2px solid var(--primary);
  transition: background-color 150ms ease;
  &:hover {
    background-color: var(--secondary-light);
  }
}
button,
.button {
  font-family: "Montserrat", serif;
  background-color: var(--primary);
  color: var(--secondary);
  padding: 0.5rem 2rem;
  position: relative;
  transition: background-color 150ms ease;
  border: none;

  &:active {
    background-color: var(--primary-dark);

  }

  &:hover {
    text-decoration: none;
  }
  &:after {

    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border: 2px solid var(--secondary);
    pointer-events: none;
    transition: top 100ms ease-in-out, left 100ms ease-in-out,
      right 100ms ease-in-out, bottom 100ms ease-in-out;
  }

  &:hover {
    &:after {
      top: 6px;
      left: 6px;
      right: 6px;
      bottom: 6px;
    }
  }
}

.secondary {
  background-color: var(--secondary);
  color: var(--primary);
  transition: background-color 150ms ease;
  &:active {
    background-color: var(--secondary-dark);
    
  }
  &:after {
    border: 2px solid var(--primary);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  &:hover {
    &:after {
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
    }
  }
}


//animations
@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

// Variables
@import "common/variables";
@import "common/mixins";
@import "common/forms";
@import "common/general";
@import "common/animation";
