@import "main";

.login-template-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 20em;
}

.title, .register-text, .register-link {
  color: $primary-color;
}

.email, .password {
  width: 100%;
  margin: 0.5em 0;
}

.login-button {
  width: 100%;
  margin: 0.75em 0;
}

.register-info-container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-link {
  text-decoration: underline;
}
