<div class="login-template-container">
  <sk-card>
    <h1 class="title">Logg inn</h1>
    <sk-input-email
      class="email"
      [placeholder]="'E-post'"
      (onChange)="onEmailChanged($event)"
    ></sk-input-email>
    <sk-input-password
      class="password"
      [placeholder]="'Passord'"
      (onChange)="onPasswordChanged($event)"
    ></sk-input-password>
    <sk-button
      class="login-button"
      [variant]="'primary'"
      (onClick)="onLogin()">
      Logg inn
    </sk-button>
    <div class="register-info-container">
      <span class="register-text">Har du ikke bruker?</span>
      <a class="register-link" [routerLink]="['register']">Registrer deg her</a>
    </div>
  </sk-card>
</div>
