.error{
  height: 20px;
  color: red;
}

.margin-top-15{
  margin-top: 15px;
}

.standard-background{
  width: 100vw;
  height: 100vh;
}

.large-background{
  width: 100vw;
  height: 200vh;
}

.loading{
  width: 100%;
  text-align: center;
}


