@mixin no-button-styling-deprecated {
  border: none;
  background: none;
  box-shadow: none;
}

@mixin standard-transition-deprecated() {
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}
