$main-gray-deprecated: #d3d3d3;
$form-background-deprecated: white;

$main-pink-deprecated: #E91E63;      // pink 500
$pink-opacity-deprecated: rgba(233, 30, 99, 0.5);

$secondary-pink-deprecated: #F48FB1; // pink 300

$blue-deprecated: #4DD0E1;
$blue-opacity-deprecated: rgba(77, 208, 225, 0.5);

$green-deprecated: #95f3a9;
$green-opacity-deprecated: rgba(149, 243, 169, 0.5);

$white-opacity-deprecated: rgba(0, 0, 0, 0.5);
