@use "utilities/colors";

.table-cell {
  color: colors.$primary;
  padding: 0.25em 0;
  font-size: 0.75em;
  vertical-align: middle;

  &:first-of-type {
    padding-left: 1em;
  }
}

.name {
  text-decoration: none;
  color: colors.$primary;

  &::before {
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    border: 1px solid transparent;
  }

  &:hover::before {
    border: 1px solid colors.$primary;
  }
}
