@import "main";

.card {
  background-color: $secondary-color;
  padding: 0.5em;
  max-width: 20em;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $primary-color;
  padding: 2em 4em;
}
