@use "utilities/_colors";

.theme-template-container {
  background-color: colors.$primary-color;
  height: 100%;
  padding: 4em 5em;
  width: 100%;
}

.content-container {
  border: 1px solid #fff;
  height: 100%;
  padding: 1em 4em;
  width: 100%;
}
