<form class="login-template-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <sk-card class="card">
    <h1 class="title">Logg inn</h1>
    <sk-input-text class="email" [type]="'email'" [placeholder]="'E-post'" formControlName="email"></sk-input-text>
    <sk-input-text class="password" [type]="'password'" [placeholder]="'Passord'" formControlName="password"></sk-input-text>
    <div class="no-errors" *ngIf="!stateError && !(attemptedSubmit && loginForm.invalid && (loginForm.dirty || loginForm.touched))">
      <br />
      <br />
    </div>
    <div class="errors" *ngIf="stateError || (attemptedSubmit && loginForm.invalid && (loginForm.dirty || loginForm.touched))">
      <span class="error-message">Ugyldig brukernavn eller passord</span>
    </div>
    <sk-button class="login-button" [variant]="'primary'" [type]="'submit'">Logg inn</sk-button>
    <div class="register-info-container">
      <span class="register-text">Har du ikke bruker?</span>
      <a class="register-link" [routerLink]="['/register']">Registrer deg her</a>
    </div>
  </sk-card>
</form>
