<main>
  <div class="main-container">
    <div class="logo-container">
      <img class="logo-home" src="./assets/images/winebottle.png" />
    </div>

    <div class="lottery-home-container">
      <div class="lottery-home wine-container">
        <h1>Vinlotteriet.no</h1>
        <!-- <div class="lottery-input-large">
        <label for="pin">Finn ditt lotteri</label>
        <input autocomplete="off" class="animated" [ngClass]="{'shake': showError}" id="pin" placeholder="Lotteri pin" [(ngModel)]="pin">
        <span *ngIf="showError" class="error">Fant ikke lotteri</span>
      </div>

      <button [disabled]="isLoading" (click)="goToLottery()" class="lsarge-button psositive">
        <span *ngIf="!isLoading">BLI MED</span>
        <span *ngIf="isLoading"><i class="fa fa-cog fa-spin"></i></span>
      </button> -->
        <div class="lottery-register-buttons">
          <a class="button" [href]="'login'">Logg inn</a>
          <a class="button secondary" [href]="'register'">Registrer</a>
        </div>
      </div>
    </div>
  </div>
</main>
