@import "../../styles/main";

.lottery-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo-home {
    height: 450px;
    width: auto;
  }

  .lottery-register {
    display: flex;
    flex-direction: column;
    min-width: 100px;


  }
}
