@import "../../styles/main";

.main-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 1rem;
  justify-content: center;
  gap: 16px;
  height: calc(100vh - 2rem);
  .logo-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo-home {
      width: 100px;
      height: auto;
      transform-origin: center;
      transform: scale(2.5);
    }
  }

  .lottery-home-container {
    display: flex;
    flex: 1;
    justify-content: center;
    justify-content: center;
    .lottery-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 5rem;
    padding: 4rem 2rem;


    .logo-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .lottery-register-buttons {
      display: flex;
      flex-direction: column;
      min-width: 100px;
      gap: 1rem;
    }
    }
  }
}
