@use "utilities/colors";

.title {
  color: colors.$primary;
}

.description {
  color: colors.$primary;
  margin-top: 1em;
  text-align: center;
}

.create-button {
  margin-top: 1em;
  width: 10em;
}

.lotteries {
  margin-top: 2em;
  width: 100%;
  max-width: 50em;
}
