@import "../../../styles/main";

.edit-lottery {
margin-bottom:1rem;
overflow: scroll;
  h3 {
    margin-top: 35px;
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  form {
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
  }
  .form-element {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    * {
      width: 100%;
      min-width: 96px;
    }
  }

  .participants {
    h3 {
      margin-bottom: 15px;
    }
    .row {
      padding-top: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid $main-gray;
    }
    .header {
      font-weight: 600;
    }
    .delete {
      @include no-button-styling();
      font-size: 22px;
    }
    .additonal-padding {
      padding-top: 3px;
    }
  }

  .participant-list-table {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      gap: 1rem;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid var(--secondary-dark);

      .row-item {
        display: flex;
        flex: 1;
        min-width: 192px;
      }
    }
  }

  .table {
    display: flex;
    flex-direction: column-reverse;
    .row {
      display: flex;
      gap: 1rem;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid var(--secondary-dark);
      transition: background-color 150ms ease;

      .row-item {
        display: flex;
        flex: 1;
        min-width: 192px;
        button {
          margin-left: auto;
        }
      }
    }
  }
}

.opacity-0 {
  opacity: 0;
}

.start-lottery {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  flex-direction: column;
  border: 2px solid var(--primary);
  padding: 1rem;
  p {
    margin: 0;
  }
}
