@use "utilities/_colors";
@use "utilities/_mixins";

.visually-hidden {
  @include mixins.visually-hidden();
}

.label {
  width: 100%;
  color: colors.$primary;
}

.input {
  border: 1px solid colors.$primary;
  border-radius: 0;
  color: colors.$primary;
  padding: 0.25em;
  text-align: center;
  width: 100%;
}
